@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.aboutme-container {
  background: url("/public/images/gifbg.gif") no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
}
.final-line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.ascii-title {
  font-family: 'VT323', monospace;
  font-size: 1.8rem;
  white-space: pre;
  margin: 0;
  color: lime;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

.animated-text-area {
  font-size: 1.1rem;
  color: white;
  white-space: pre-wrap;
}

.animated-text {
  font-family: 'VT323', monospace;
  font-size: 2rem;
  color: white;
  white-space: pre-wrap;
}

.button-wrapper {
  min-height: 250px; 
}

@media (max-width: 768px) {
  .ascii-title {
    font-size: 1rem;
    white-space: pre-wrap; 
    word-break: break-word; 
  }
}

@media (max-width: 768px) {
  .animated-text {
    font-size: 1.5rem;
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .final-line-wrapper {
    flex-direction: column;
    gap: 1rem;
  }
}


