.press-enter-container {
  /* background-color: black; */
  background: url("/public/images/hero.gif") center center / cover no-repeat;
  color: #00ffea;
  font-family: 'Press Start 2P', monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.press-enter-text {
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.blinking {
  animation: blink 1s step-start infinite;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
